body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.button {
border: 5px;
border-style: solid;
border-color: white;
color: white;
padding: 32px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.display {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.wins {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  width: 112px;
  margin-top: 25px;
}


.yourWins {
  font-size: 35px;
}

.compWins {
  font-size: 35px;
}

.result {
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
}
